p {
	color: black;
	font-size: 130%;
	text-align: center;
	text-decoration: none;
}

label {
	color: #dff3f9;
	font-size: 130%;
}

p.aboutP {
	color: #dff3f9;
	font-size: 130%;
	text-align: center;
	text-decoration: none;
	display: none;
}

h1, h2 {
	color: black;
	text-align: center;
	font-family: "Simonetta", "Trebuchet MS", Arial, sans-serif;
}

.link {
	color: white;
}

.icon:hover {
    -webkit-transform: scale(1.5); 
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.icon {

	opacity: 0.75;
	width: 10%;
	height: auto;
	position: fixed;
	bottom: 40%;

	width:80px; margin:25px;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;

}

.label {
	color: #dff3f9;
	font-size: 100%;
	text-align: right;
	font-family: "Simonetta", "Trebuchet MS", Arial, sans-serif;
	text-decoration: none;
}


#background {
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
}

#middle {
	width: 100%;
	height: 20%;
	position: absolute;
	top: 225px;
	margin: 5px;
	padding: 5px;
}

#create-key, #import-key {
	margin: 0 auto;
	text-align: center;
	display: none;
}

#mega-icon {
	display: none;
}

#main-menu, #add-public-key, #initial-setup, #import-key-text, #import-key-file, #import-key-backup, #encrypt, #decrypt, #mega-div {
	display: none;
}

#about-me {
	margin-left: 10%;
}

#email {
	margin-left: 22%;
}

#GitHub {
	margin-left: 34%;
}

#resume {
	margin-left: 46%;
}

#cloud-tracker {
	margin-left: 58%;
}

#mega {
	margin-left: 70%;
}

#secret-zone {
	margin-left: 82%;
}

#content {
	width: 100%;
	height: 60%;
}
#about {
	width: 100%;
	height: 60%;
	display: none;
}
